/* Common CSS */
* {
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
}

.body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    margin: 60px 140px;
    border-radius: 16px;
}


/* Banner Section Style */
#banner {
    text-align: center;
    background-image: url('../image/Banner_Image.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    border-radius: 16px;

}

.banner-container {
    padding: 160px 200px;
    height: 280px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 16px;

}

.wish {
    margin: 16px;
    color: #fff;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
}

.page-title {
    margin: 0px auto;
    color: #fff;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
}

/* Discount Section Style */
.discount {
    margin: 60px 400px;
    text-align: center;
    text-transform: uppercase;
}

.discount-heading {
    color: #F00;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 0px;
}

.discount-description {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin: 48px 0px 16px 0px;
}

.discount-title {
    color: #070211;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin: 0px 0px 48px 0px;
}

/* Welcome Section Style */
#welcome {
    margin: 120px 140px;
    background-image: url('../image/Vectorrr.png');
    background-repeat: no-repeat;
    background-position: center;
}

.welcome-container {
    height: 600px;
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 16px;
}

.welcome-column-1 {
    padding: 126px 0px 0px 126px;


}

.welcome-title {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    margin: 0px;
}

.welcome-description {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.join-button {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 16px 32px;
    background-color: #F00;
    border: none;
    border-radius: 8px;
}

.welcome-column-2 {
    padding: 68px 138px 68px 0px;
}

/* Joining Section style  */
#join {
    background-image: linear-gradient(#FFE6E6 00%, #fffdcd 80%);
    padding: 100px;
    text-align: center;
}

.join-container {
    margin-bottom: 50px;
}

#join h3 {
    color: #070211;
    font-size: 32px;
    font-weight: 600;
    font-family: Inter;
}

#join span {
    color: #F00;
    font-family: Inter;
}


/* Offer Section Style */
#offer {
    margin-top: 120px;
    display: flex;
    justify-content: space-between;
    gap: 70px
}

.offer-column-1 {
    max-width: 30%;
}

.offer-column-3 {
    padding-left: 70px;
}

.offer-title {
    margin: 0px;
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
}

.offer-heading {
    margin: 16px 0px 22px 0px;
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
}

.offer-description {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;

}

.offer-col-year {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}

#offer .group-pic {
    max-height: 360px;
    border-radius: 50%;
    outline: 10px solid #F00;
    outline-offset: 20px;
}

/* Portfolio Section */
.portfolio-title {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0px;
}

.portfolio-heading {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin: 16px 0px 0px 0px;
}

.portfolio-description {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin: 20px 300px 0px 0px;
}

.portfolio-row{
    display: flex;
    justify-content: space-between;
    gap: 24px;
    padding: 12px 0px ;
}

#portfolio img{
    border-radius: 18px;
    width: 30%;
}
#portfolio img:hover{
    transform: scale(1.1);
    border: 5px solid red;
    box-shadow: #070211;
}

/* Subscribe Section Style */
#subscribe{
    background-color: #FFE6E6;
}

.subscribe-container{
    padding: 80px 210px;
    text-align: center;
}